/* Estilos Header */
/* header{
    width: 48rem;
    display: flex;
    justify-content: space-evenly;
} */

/* Estilos generales para el header */
header{
    margin: 0 auto;
}

.about{
    font-size: 18px;
}

.separado {
    line-height: 1.8;
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-size: 18px;
    color: #cae0e5;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.6);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.card,
.nav-socials {
    animation: fadeIn 1.2s ease-in-out;
}



.experience {
    animation: fadeIn 1.2s ease-in-out;
    animation-delay: 0.5s; /* Retraso de 0.5s */
    opacity: 0; /* Para que no sea visible antes de la animación */
    animation-fill-mode: forwards; /* Mantiene el estado final de la animación */
}



/* .picture-container img,
.picture-container source {
    animation: fadeIn 1.2s ease-in-out;
} */

.nav-socials{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
}

.nav-socials a{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    box-shadow: 0 0 0 1.2px rgb(247 237 237 / 50%);
    padding: 1px 8px;
    background-color: #1f2937;
    transition: background-color 0.3s ease;
}

.nav-socials a:hover{
    background-color: #ffffff;
    color: #1f2937;
}

/* Estilos CardProfile.jsx */
.card {
    margin: 5vh auto 0 auto;
    max-width: 300px;
    height: 530px;
    border-radius: 20px;
    padding: 5px;
    box-shadow: #41c7fc33 0 15px 30px -5px;
    background-color: #1f2937;
    /* background-image: linear-gradient(90deg, rgb(67 120 123) 16%, rgb(33 76 89) 54%, rgb(23 81 93) 100%); */
    border-image-slice: 1;
    padding: 23px;
}
  


.name {
    letter-spacing: 2px;
    font-size: 3rem;
    background-image: linear-gradient(135deg, #b9f1ff, #3f8597);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-size: 100%;
}




.card__content p{
    padding: 3px;
}

/* Estilos CardSocials.jsx */




.Title{
    font-size: 2.1rem;
    margin-bottom: 25px;
}


/* Estilos separador hr */
.custom-hr {
    border: none;
    border-top: 1px dotted #737477;
    margin: 3rem auto;
    border-radius: 4px;
    width: 95%;
}


/* Experience */
.experience{
    margin: 0 auto;
    width: 80%;
}

.category{
    color: #b9f1ff;
    font-size: 1.5rem;
}

h3.category{
    color: #9fa2a3; 
}

.title-project{
    margin-bottom: 14px;
    font-size: 2.1rem;
}

/* Proyects */
.container-project{
    margin-bottom: 5rem;
}

.projects{
    margin: 0 auto 25px;
    padding: 0;
    display: grid;
    width: 100%;
    max-width: 350px;
    min-height: 250px;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 32px;
}


.img-project {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.project-details{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
}

.project-details-p{
    font-size: 18px;
    color: #cae0e5;
}

.footer-project{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
}

.project-button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 7px;
    width: 110px;
    background-color: #1f2937;
    box-shadow: 0 0 0 1.2px rgb(247 237 237 / 50%);
}

a.project-button:hover {
    transform: scale(1.1);
  }

.icons{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: start;
    align-items: center;
}

.icon-card{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    box-shadow: 0 0 0 0.2px rgb(247 237 237 / 50%);
    padding: 1px 8px;
    border-radius: 9999px;
    font-size: 0.75rem;
    color: white;
    padding: 0.25rem 0.5rem;
    
}

@keyframes appear {
    from {
        opacity: 0;
        transform: scale(0.5);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@-webkit-keyframes appear {
    from {
        opacity: 0;
        -webkit-transform: scale(0.5);
    }
    to {
        opacity: 1;
        -webkit-transform: scale(1);
    }
}

.container-project{
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0;
}

/* EMAIL */
.container-email{
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-email{
    margin-top: 14px;
    display: flex;
    gap: 7px;
    font-size: 14px;
}

.project-h1{
    margin: 55px auto 40px;
}

.contact-button {
    margin-top: 10px;
    background-color: #1f2937;
    box-shadow: 0 0 0 1.2px rgb(247 237 237 / 50%);
    transition: transform 0.25s ease-in-out;
}

.contact-button:hover {
    transform: scale(1.1);
}


/* @media */
/* Aplicar solo en pantallas de 802px o más */
@media (max-width: 802px) {
    .project-h1{
        width: 81%;
    }
}
@media (min-width: 802px) {
    .experience{
        width: 48rem;
    }

    header {
        width: 48rem;
        display: flex;
        justify-content: space-evenly;
    }
    .socials{
        margin-top: 0px;
    }
    .custom-hr{
        margin: 4rem auto;
        width: 48rem;
    }
    .projects{
        width: 100%;
        max-width: 48rem;
    }
}
